.five-day-temp-day-text {
  text-align: left;
  margin-left: .25rem;
}

.five-day-temp-day-section-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: .25rem;
  overflow: auto;
}